# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# production
dist/
build/
_site/

# misc
.DS_Store
.env
.env.local
.env.*.local

# editor
.vscode/
.idea/
*.swp
*.swo
*~

# testing
.nyc_output/
coverage/

# misc files
*.log