<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/head-meta.njk" %}
        <title>{{ title }} - {{ site.name }}</title>

        <style>
            #banner {
                --primary-banner-rgb: 226, 223, 183;
            }
        </style>

        <link rel="stylesheet" href="{{ '/static/css/style-global.css' | url }}" />
        <link rel="stylesheet" href="{{ '/static/css/style-secondary-page.css' | url }}" />
        <link rel="stylesheet" href="{{ '/static/css/syntax.css' | url }}" />
        <link rel="stylesheet" href="{{ '/static/css/media-queries.css' | url }}" />

        {% include "partials/renderers.njk" %}

        <script src="{{ '/static/js/hamburgerMenuOpenClose.js' | url }}" defer></script>
    </head>
    <body>
        {% include "partials/global-header.njk" %}

        <main>
            <div id="secondary-page-banner-container">
                <div id="page-title-container">
                    <h1>{{ title }}</h1>
                </div>
                {% include "partials/secondary-page-banner.njk" %}
            </div>

            <div id="one-column-container">
                <article class="notebook">
                    {{ content | safe }}
                </article>
            </div>
        </main>

        {% include "partials/global-footer.njk" %}
    </body>
</html>
