/* NAVIGATION */

@media only screen and (max-width: 900px) {

    #hamburger-menu-button {
        display: block;
    }

    #uncollapsed-menu {
        display: none;
    }

    ul#hamburger-nav-toplevel-menu {
        position: relative;
    }

    #global-page-header {
        max-height: 100vh;
        padding: 10px 0px 10px 10px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

}


/* LANDING */

@media only screen and (max-width: 900px) {

    .boilerplate {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: unset;
    }

    .boilerplate h1 {
        font-size: 1.5rem;
        flex: unset;
    }

    .cta {
        padding: 20px 0px;
        flex: unset;
    }

    .cta ul {
        max-width: unset;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cta ul > li {
        flex: 0 1 49%;
        width: 49%;
        margin-right: 1%;
    }

}

@media only screen and (max-width: 600px) {
    .cta ul > li {
        flex: 0 1 100%;
        width: 100%;
        margin-right: 0px;
        font-size: 0.8rem;
    }

    section#banner {
        grid-template-columns: 0.1fr 0.8fr 1fr 0.8fr 0.8fr;
        grid-template-rows: 0.5fr 1fr 2fr 1fr 1fr 0.1fr;
    }

}

/* EVENTS AND NEWS LISTINGS */

@media only screen and (max-width: 900px) {

    ul.news-posts-list {
        flex-direction: column;
    }

    .single-news-post {
        width: 100%;
        flex: unset;

    }
}

@media only screen and (max-width: 600px) {

    .harvard-discovery-series-post::after {
        font-size: 0.5rem;
    }

    .event-coverimage-container {
        width: 100%;
        clear: both;
    }

    .single-news-post {
        flex: unset;
        width: 100%;
        flex-direction: column;
    }

    .single-news-post img {
        flex: 0 1;
        width: 100%;
    }

    .news-post-details {
        flex: 0 1;
        width: 100%;
        padding-left: 0px;
        padding-top: 20px;
    }

    #events-listing, #latest-news-listing {
        padding: 10px 20px;
    }
}

/* SECONDARY PAGES */

@media only screen and (max-width: 900px) {

    #two-column-container {
        flex-direction: column-reverse;
    }

    #page-internal-cta {
        flex: unset;
        width: 100%;
        display: block;
        padding: 20px;
        padding-right: 5%;
        margin-top: 50px;

        position: relative;
        top: unset;
        border: 1px solid #CCCCCC;
        border-top: 5px solid var(--global-primary-color);
        border-radius: 2px;
        box-shadow: 2px 2px 1px rgba(var(--global-primary-color-triplet), 0.3);
        /* background-color: rgba(250,250,250,0.3); */
        background: repeating-linear-gradient(45deg, rgba(230,230,230, 0.4), rgba(230,230,230, 0.1) 33%);
    }

}

@media only screen and (max-width: 600px) {

    #page-title-container {
        padding: 0px 100px 0px 20px;
    }

    #page-title-container h1 {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    #two-column-container, #one-column-container {
        padding: 50px 20px 100px 20px;
    }

    #page-internal-cta {
        padding-top: 50px;
    }
}

/* PEOPLE PAGES */

@media only screen and (max-width: 900px) {

    .person-page-two-column {
        flex-direction: column;
    }

    .person-photo-container {
        width: 100%;
        flex: 1 0 100%;
        text-align: center;
        max-width: unset;
        margin-right: unset;
    }

    .person-photo-container img {
        max-width: 300px;
    }

    .person-details-container {
        flex: 1 0;
        padding: 50px 0px;
    }

    #people-directory-two-column-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
        justify-content: space-between;
    }

    .people-directory-column {
        flex: 1 0;
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {

    .dsg-people-list.non-standing-committee > li {
        flex: 1 0 auto;
        width: 100%;
        max-width: unset;
    }

    .dsg-people-list > li {
        min-width: 300px;
        flex: 0 1 auto;
    }

    .filter-button {
        margin-left: 0px;
    }

}

/* CONTACT */

@media only screen and (max-width: 600px) {
    
    #mc_embed_signup {
        width: 100% !important;
    }

}

/* GLOBAL TEXT AND FOOTER AND MISC MEDIA ASSETS */

@media only screen and (max-width: 600px) {
    article p, article ul, article ol {
        font-size: 0.9rem;
        line-height: 1.6rem;
        font-weight: 400;
    }

    .hrule.left {
        width: 0px;
    }

    #footer-content {
        padding-left: 10px;
    }

    article {
        width: auto;
        flex: 1 1;
        padding: 0px 10px 0px 0px;
    }

    article iframe {
        width: 100% !important;
    }

}