@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500&family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root {
    --global-primary-color: rgb(154,154,235);
    --global-primary-color-triplet: 154, 154, 235;
    --global-hyperlink-color: #1f2686;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* HEADER */
#global-page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 40px 10px 50px;

    position: sticky;
    top: 0;
    z-index: 2000;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 2px 2px 2px #f9f9f9;

}



#dsg-header-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0;
}

#dsg-header-group img {
    width: 100%;
    max-width: 100px;
}

#dsg-header-group h1 {
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;

}

nav {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-toplevel-menu {
    list-style-type: none;
    font-family: 'Comfortaa', sans-serif;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: default;
}



#nav-toplevel-menu .nav-submenu {
    position: absolute;
    z-index: 100;
    opacity: 0;
    list-style-type: none;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    max-width: 300px;
    margin: 10px 0px 0px -10px;
    padding: 0px;
    transition: opacity 0.3s;
    transition-delay: 0.1s;
    background: rgba(255,255,255,0.8);
    border: 1px solid #ffffff;
    width: max-content;
    pointer-events: none;
    /* display: none; */

}

#nav-toplevel-menu .nav-submenu li {
    margin: 0px;
    padding: 5px 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-transform: none;
    box-sizing:content-box;
}

#nav-toplevel-menu .nav-submenu li:hover,
#nav-toplevel-menu .nav-submenu li:focus {
    background-color: #f4f4f4;
}

#nav-toplevel-menu > li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    cursor: default;
    border-bottom: 3px solid rgba(154,154,235, 0);
    position: relative;
}

#nav-toplevel-menu > li:hover,
#nav-toplevel-menu > li:focus {
    animation-duration: 0.3s;
    animation-name: navigationHover;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#nav-toplevel-menu li:hover .nav-submenu,
#nav-toplevel-menu li:focus .nav-submenu {
    opacity: 1;
}

.nav-submenu:has(:focus) {
    opacity: 1 !important;
}

/* HAMBURGER MENU */

#hamburger-menu-button {
    display: none;
    position: absolute;
    right: 0px;
    margin-top: 20px;
    margin-right: 20px;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
}

#hamburger-menu-button-open-icon {
    display: none;
}

#hamburger-menu-button-close-icon {
    display: none;
}

#hamburger-menu-button-open-icon.hamburger-menu-icon-display,
#hamburger-menu-button-close-icon.hamburger-menu-icon-display {
    display: block;
}

#hamburger-menu {
    display: none;
    width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
    overflow-y: scroll;
    flex: 0 1;
}

#hamburger-menu.hamburger-menu-open {
    display: block;
}


#hamburger-nav-toplevel-menu {
    list-style-type: none;
    font-family: 'Comfortaa', sans-serif;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: default;
    margin: 0px;
    padding: 0px;

}

#hamburger-nav-toplevel-menu .nav-submenu {
    position: relative;
    list-style-type: none;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    max-width: 300px;
    margin: 10px 0px 0px -10px;
    padding: 0px 0px 0px 20px;
    transition: opacity 0.3s;
    transition-delay: 0.1s;
    background: rgba(255,255,255,0.8);
    border: 1px solid #ffffff;
    width: max-content;
    pointer-events: all;

}



#hamburger-nav-toplevel-menu > li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    cursor: default;
    border-bottom: 3px solid rgba(154,154,235, 0);
    position: relative;
}





@keyframes navigationHover {
    from {
        border-bottom: 3px solid rgba(154,154,235, 0);
    }

    to {
        border-bottom: 3px solid rgba(154,154,235, 0.5);
    }
}

.nav-submenu li {
    margin: 0px;
    padding: 5px 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-transform: none;
    box-sizing:content-box;
}

.nav-submenu li:hover,
.nav-submenu li:focus {
    background-color: #f4f4f4;
}


#uncollapsed-menu:hover .nav-submenu,
#hamburger-menu:hover .nav-submenu,
#uncollapsed-menu li:focus .nav-submenu,
#hamburger-menu li:focus .nav-submenu {
    pointer-events: all;
    display: block;
}



header a:link, header a:visited {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: inherit;
}

#dsg-header-group a {
    display: contents;
}


/* FOOTER */

footer {
    margin-top: 50px;
    min-height: 300px;
    background: linear-gradient(0deg, rgba(154,154,235, 0.4), rgba(154,154,235, 0) 78%);
    display: flex;
    flex-direction: column;
    position: relative;
}

footer #dsg-watermark {
    position: absolute;
    z-index: -1;
    right: 0px;
    width: 30%;
    height: 100%;
    overflow: hidden;
}

#dsg-watermark {
    opacity: 0.1;
    width: 100%;
    position: relative;
}

#dsg-watermark img {
    position: absolute;
    top: 20px;
}

footer #divider-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#dsg-footer-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

#dsg-footer-group img {
    width: 80px;
}

#dsg-footer-group h1 {
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;

}

#divider-row .hrule {
    display: block;
    height: 0%;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 2px;
    content: "";
}

.hrule.left {
    width: 50px;
}

.hrule.right {
    flex-grow: 1;
}

#footer-content {
    display: flex;
    flex-direction: row;
    padding-left: 50px;

}

#footer-content ul {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    margin: 20px 0px 20px 20px;
    padding: 0px;
}

#footer-content ul > li {
    padding: 5px 0px;
}

ul#footer-contact h2 {
    margin: 0px;
    padding: 5px 0px;
    font-size: inherit;
}

footer a:link, footer a:visited {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/* OTHER */

main a:link, main a:visited {
    text-decoration: none;
    color: var(--global-hyperlink-color);
    font-weight: 600;
}

main a:hover {
    text-decoration: underline;
}