<footer>
    <div id="divider-row">
        <span class="hrule left"></span>
        <div id="dsg-footer-group">
            <img src="{{ '/static/img/dsg-shield.svg' | url }}" alt="Shield logo for Digital Scholarship Group" />
            <h1>{{ site.footerLine }}</h1>
        </div>
        <span class="hrule right"></span>

    </div>
    <div id="dsg-watermark">
        <img src="{{ '/static/img/icon-dsg-shield.svg' | url }}" alt="DSG shield logo as watermark" />
    </div>
    <section id="footer-content">
        <ul id="footer-sitemap">
            {% for item in navigation %}
                {% if item.children %}
                    {% for child in item.children %}
                    <li><a href="{{ child.url }}">{{ child.label }}</a></li>
                    {% endfor %}
                {% else %}
                    <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul id="footer-contact">
            <h2>Get in touch</h2>
            <li><a href="mailto:your.email@example.com">your.email@example.com</a></li>
        </ul>
    </section>
</footer>