<div id="banner">
    <div class="connector-cell top-left">
        <!-- <img class="swipe horizontal" src="/static/img/swipeline-horizontal-white.png" /> -->
        <span class="h-line"></span>

    </div>
    <div class="icon-cell book">
        <img class="banner-icon" src="/static/img/icon-book_passthrough.png" alt="Icon of a book" />
    </div>
    <div class="connector-cell top-middle">
        <!-- <img class="swipe horizontal" src="/static/img/swipeline-horizontal-white.png" /> -->
        <span class="h-line"></span>

    </div>
    <div class="icon-cell magnifyingglass">
        <img class="banner-icon" src="/static/img/icon-magnifying_glass_passthrough_digital.png" alt="Icon of a magnifying glass" />
    </div>
    <div class="connector-cell bottom-left">
        <!-- <img class="swipe horizontal" src="/static/img/swipeline-horizontal-white.png" /> -->
        <span class="h-line"></span>

    </div>
    <div class="icon-cell map">
        <img class="banner-icon" src="/static/img/icon-map_passthrough_digital.png" alt="Icon of a map" />
    </div>
    <div class="connector-cell bottom-middle">
        <!-- <img class="swipe horizontal" src="/static/img/swipeline-horizontal-white.png" /> -->
        <span class="h-line"></span>

    </div>
    <div class="connector-cell top-right">
        <!-- <img class="swipe horizontal" src="/static/img/swipeline-horizontal-white.png" /> -->
        <span class="h-line"></span>
    </div>
    <div class="icon-cell vis">
        <img class="banner-icon" src="/static/img/icon-vis_passthrough_digital.png" alt="Icon of a data visualization" />
    </div>
    <div class="connector-cell bottom-right">
        <!-- <img class="swipe horizontal" src="/static/img/swipeline-horizontal-white.png" /> -->
        <span class="h-line"></span>

    </div>
<div id="banner-fadeout"></div>
</div>